body{
    background-color: rgb(187, 187, 187);
    text-align: center;

}

.p_div{
    padding: 100px 100px;
    border-radius: 100rem;
    background-color: white;
}

.s_div{
    background-color: rgb(187, 187, 187);
    padding: 50px 25px;
    border-radius: 5rem;
}

